<div class="container">
  <mat-card class="mat-card-search">
    <mat-card-title>Search requirement</mat-card-title>
    <mat-card-content>
      <li class="mat-form-field--inline">
        <mat-radio-group class="radio-group" [(ngModel)]="requirement" (change)="resetValues()">
          <mat-radio-button class="radio-button" *ngFor="let ref of requirements" value="{{ref}}">
            {{ref}}
          </mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-error>{{errorMessage}}</mat-error>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>First actor/actress</mat-label>
          <label>
            <input [(ngModel)]="sourceName" matInput>
          </label>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="requirement !== 'typecast'">
          <mat-label>Second actor/actress</mat-label>
          <label>
            <input [(ngModel)]="targetName" matInput>
          </label>
        </mat-form-field>
        <button mat-raised-button [disabled]="isLoading" (click)="search(); errorMessage='';">Search</button>
      </li>
    </mat-card-content>
  </mat-card>
  <br><br>
  <mat-card class="mat-card-result">
    <mat-card-title>Result</mat-card-title>
    <span *ngIf="isLoading"><i>Please be patient, request may take some time.</i></span>
    <mat-card-content>
      <div *ngIf="requirement == 'typecast' && typeCastInfo">
        The actor/actress <b>{{sourceName}}</b> is <span *ngIf="!typeCastInfo.isTypeCasted"><b>not</b></span> type casted.
        <p *ngIf="typeCastInfo.isTypeCasted">Genre(s): {{typeCastInfo.genres}}</p>
      </div>
      <div *ngIf="requirement == 'coincidence' && coincidence">
        <span *ngIf="coincidence.commonTitles?.length > 0">
          The common movies and tv shows acted by <b>{{sourceName}}</b> and <b>{{targetName}}</b> are,
        <p>
          {{coincidence.commonTitles}}
        </p>
        </span>
        <span *ngIf="coincidence.commonTitles?.length == 0">
          No common movies or tv shows found for <b>{{sourceName}}</b> and <b>{{targetName}}</b>.
        </span>
      </div>
      <div *ngIf="requirement == 'degree of separation' && linkLevel">
        <span *ngIf="linkLevel?.levelOfSeparation != -1; else noLinkLevel">
        The degrees of separation between <b>{{sourceName}}</b> and <b>{{targetName}}</b> is <b>{{linkLevel.levelOfSeparation}}</b>
          </span>
        <ng-template #noLinkLevel>
          Not able to find degrees of separation between <b>{{sourceName}}</b> and <b>{{targetName}}</b>.
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
</div>

